:root {
    --first: #4d6f39;
    --second: #25835d;
    --highlight: #f9a4d6;
}

* {font-family: Quicksand, sans-serif !important; color: black;}

body {background-color: white;}

.leftside, .rightside {
    height: 100vh;
    margin: 50;
    width: 100%;
    padding: 50px;
    
}

.leftside {
    background-color: var(--first);
    color: white;
}

.rightside {
    text-align: left;
    overflow-y: scroll;
}

.rightside ul{
    padding-left: 30px;
}

#logo {
    width: 70px; 
    padding-bottom: 40px;
}

#image {
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.contact {
    white-space: nowrap;
}

ul {padding-left: 0px;}

ul li {line-height: 200%;}


a:visited { text-decoration: none;}

a {color: black;}

a:hover {
    color: black;
    font-weight: bold;
}

.leftside a {color: white;}
.leftside a:hover {
    color: white;
    font-weight: bold;
}

.table-hide {
    font-size: 10px;
    white-space: nowrap;
}

.impressum {
    white-space: nowrap;       
    position: absolute;                  
    bottom: 10px;
    left:50px;
    font-size: initial !important;
}

#image-about-us {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#image-main {
    width: 100%;

    display: block;
}

#call-to-action {
    text-align: center;
    margin: 50px;
}

#image-mobile {display: none;}

.c24-chatbot-button {
    position: fixed;
    z-index: 30;
    bottom: 100px;
    right: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 116px;
    height: 102px;
    border-top-left-radius: 51px;
    border-bottom-left-radius: 51px;
    -moz-border-radius-bottomleft: 51px;
    -moz-border-radius-topleft: 51px;
    background-color: var(--first);
    cursor: pointer;
    box-shadow: 0 0 4px 2px #fff;
}

.c24-chatbot-button-img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 92px;
    width: 92px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100%;
    background-image: url(../images/email.png)
}

a:hover {
    text-decoration: none !important;
    font-weight: bold !important;
}




.info-box {
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    display: inline-block;
    width: 100%;    
    text-align: center;
}

.grecaptcha-badge {
    display: none !important;
}

.navbar {
    background-color: var(--first) !important;
    color: white !important;
}

.btn-success {
    background-color: var(--first);
    border-color: var(--first);
}

.btn-success:hover {
    background-color: var(--second);
    border-color: var(--second);
}

.footer { 
    border-top: 2px solid var(--second) !important;
    border-color: var(--first) !important;
    color: var(--first);
    font-size: smaller;
    padding: 4px;
    text-align: center;
    height: 30px;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}

.footer a { 
    color: var(--first) !important;
}

.footer i { 
    color: var(--first) !important;
}

.dd-logo {
    height: 40px;   
}

.dd-link {
    vertical-align: sub;  
}

.card {
    width: 100%;
}
@media (max-width:1199px) {
    .card {
        height: 300px;
    }
}
@media (max-width:999px) {
    .card {
        height: auto;
    }
    .rightside {
        padding-left: auto !important;
        
    }
}

.jumbotron {
    padding: 1rem 1rem !important;
}